{% extends "base.html" %}

{% block title %} Forgot password {% endblock %}

{% block content %} 
<div class="container d-flex justify-content-center">
    <form class="form-signin  col-6">
        <h1 class="h3 mb-3 font-weight-normal">Forgot password</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    </form>
</div>
{% endblock %}